 
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    background: url(./images/1429818.webp) no-repeat;
    background-size: cover;
  }
  
  .upload-form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    padding: 20px;
    width: 400px;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  input[type="file"] {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    cursor: pointer;
    margin: 10px;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  